.wp-custom-theme-contact-info-block{
    .wp-custom-theme-contact-info{
        display:flex;
        flex-direction: column;
        gap:1rem;
        border-bottom:1px solid #868686;
        font-size:20px;
        padding-bottom:2rem;

        p{
            display:flex;
            gap:1rem;
            margin:0;
        }
    }

    .wp-custom-theme-social-link{
        display:flex;
        flex-direction: row;
        gap:2rem;
        padding-top:1rem;
        justify-content: center;
    }
}