
.contact-form-block{
    padding:2rem;
    border:$contact-form-br;
    border-radius:15px;

    .title{
        font-size:25px;
        font-weight:400;
        margin-bottom:5px;
    }

    .caption{
        margin-top:0;
        font-size:18px;
        color:$contact-caption;
    }

    .form{

        .form-body{
            display:flex;
            flex-direction: column;
            gap:2rem;

            input, textarea{
                background-color:$contact-input-bg;
                border:$contact-form-br;
                border-radius:10px;
                padding-left:0.75rem;
                min-width:100%;
            }

            input{
                min-height:2.5rem;
            }

            textarea{
                min-height:100px;
                padding-top:0.5rem;
            }

            .submit-btn{
                border:$submit-btn-br;
                border-radius:15px;
                color:$submit-btn-color;
                background-color:$submit-btn-bg;
                padding: 1rem 2rem 1rem 2rem;
                transition:background-color 0.3s ease, color 0.3s ease;

                &:hover{
                    color:$submit-btn-hover-color;
                    background-color:$submit-btn-hover-bg;
                }
            }
        }
    }
}